@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Truck Logistics Assistant!</h1>
    <h3>What you can do with this application?</h3>
    <ul>
        <li>Planning trips</li>
        <li>Storing all data about your trucks and trips</li>
    </ul>
</div>
